# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


# Models
backend/model/
*.onnx

